// 모든 컨텐츠를 담는 컨테이너 디자인
.container {
    width: 100%;
    
    p {
        margin: 0;
    }

    img {
        height: auto;
        border: solid 1px $warning-color;
    }
    .skillImg {
        width: 7rem;
        height: auto;
    }
    .desktopImg {
        width: 50rem;
        height: auto;
    }
    .mobileImg {
        width: 25rem;
        height: auto;
    }

}

// 처음 페이지의 인트로에 나오는 부분
.top {
    padding-top: 5rem;
    text-align: center;
    p {
        width: fit-content;
        overflow: hidden;
        border-right: 0.15em solid $secondary-color;
        white-space: nowrap;
        margin: 0 auto;
        letter-spacing: 0.15em;
        animation:
            typing 7s steps(60, end) ,
            blink-caret 0.75s step-end infinite
    }
}

// 타이핑 애니메이션 추가
@keyframes typing {
    from { width: 0; }
    to { width: 36%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: $secondary-color; }
}

// 가진 기술들 나열을 위해 슬라이드 쇼를 진행할때 필요
.box {
    width: 100%;
    height: 50%;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;

}

#front-panel, #backend-panel, #devops-panel {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    .item {
        margin: 0;
        text-align: center;
        border: dotted $warning-color;
    }
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
// 연락처 부분 디자인
.contact {
    background: $section-color;
    margin: 0;
    padding-top: 17.5rem;
    padding-bottom: 17.5rem;
    p {
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        text-align: center;
    }
    .contact-text {
        font-size: 2rem;
        color: $white-color;
    }
}

