.header {
    position: fixed;
    margin: 0;
    padding: 0;
    background: $sheet-color;
    color: $font-color;
    width: 100%;
    z-index: 1000;
    h1 {
        margin: 0;
        padding: 0;
        padding-left: 7px;
        font-size: 4.35rem;
        display: inline;
    }
    nav {
        display: inline;
        ul {
            padding: 0 0 2px;
            margin: 0;
            margin-top: 2rem;
            text-align: right;
            float: right;
            font-size: 1.75rem;
            li {
                display: inline;
                list-style: none;
            }
        }
        a:hover {
            color: $hover-color;
            border-bottom: solid $border-color;
            transition: 0.2s ease-in-out;
        }
    }
}