$primary-color: rgb(41, 195, 223);
$secondary-color: rgb(35, 94, 204);
$success-color: rgb(80, 226, 23);
$warning-color: rgb(224, 135, 34);
$danger-color: rgb(241, 3, 3);

// sheet color set
$sheet-color: rgb(6, 56, 82);
$body-color: rgb(1, 27, 41);

// font color
$font-color: rgb(255, 255, 255);

// item color set
$link-color: rgb(240, 129, 15);
$hover-color: rgb(255, 179, 136);

// component color set
$contact-color: rgb(13, 4, 65);
$border-color: rgb(230, 223, 68);

// dot color
$dot-color: rgb(250, 103, 117);
$dot-act-color: rgb(208, 150, 131);