html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100%;
    height: 97vh;
    font-family: 'Nanum Myeongjo', serif;
}

a {
    text-decoration: none;
    color: $warning-color;
}